.slider.full-sreen
  .slide(style="background-image: url('https://placeholdit.imgix.net/~text?txtsize=58&txt=620%C3%97360&w=620&h=360');")
  .slide(style="background-image: url('https://placeholdit.imgix.net/~text?txtsize=58&txt=620%C3%97360&w=620&h=360');")
  .slide(style="background-image: url('https://placeholdit.imgix.net/~text?txtsize=58&txt=620%C3%97360&w=620&h=360');")
h1 E-theme grid examples
p
  | Basic grid layouts to get you familiar with building within the E-theme grid system.
.grid
  .grid-xs-6 .grid-xs-6
  .grid-xs-6 .grid-xs-6
  .grid-xs-4 .grid-xs-4
  .grid-xs-4 .grid-xs-4
  .grid-xs-4 .grid-xs-4
