# Mac OS X
**/*/.DS_Store
*/.DS_Store
.DS_Store
.AppleDouble
.LSOverride
**/*/Icon
*/Icon
Icon
._*
.Spotlight-V100
.Trashes
node_modules
www.dev/build
www.dev/app/_bower_components
.fontcustom-manifest.json
