DirectoryIndex index.php
RewriteEngine on

RewriteRule ^(index\.php)?$ build/development/$1 [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.+)$ build/development/$1 [L]