



@charset "utf-8";

// Our variables
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$on-palm:          600px;
$on-laptop:        800px;


// Using media queries with like this:
// @include media-query($palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import "base";
@import "layout";
@import "syntax-highlighting";
@import "fontcustom";


/*------------------------------------*\
    $STYLE
\*------------------------------------*/
/**
 * Aquí incluímos todos los módulos (archivos .scss) que se van
 * a compilar en el CSS definitivo: /css/style.css.
 */

/**
* Librerías
**/
@import "lib/settings.scss";
@import "lib/mixins.scss";
//@import "lib/funciones.scss";
//@import "lib/flex.scss";
//@import "lib/placeholders.scss";



/**
* Bases
**/
//@import "base/contenido.scss";
//@import "base/reset.scss";
//@import "base/debug.scss";


/**
* Selectores de elemento: un super "normalize":
**/
//@import "elementos/figure.scss";
//@import "elementos/formularios.scss";
//@import "elementos/imagenes.scss";
//@import "elementos/links.scss";
//@import "elementos/tipografia.scss";
//@import "elementos/tablas.scss";

/**
* Layout del sitio
**/
@import "layout/sitio.scss";
@import "layout/navegacion.scss";

/**
* Abstracciones y objetos
**/
//@import "abstracciones/botones.scss";
//@import "abstracciones/fonticon.scss";
//@import "abstracciones/grid.scss";
//@import "abstracciones/paginacion.scss";
//@import "abstracciones/texturas.scss";