@charset "UTF-8";
/*------------------------------------*    $CONTENIDO
\*------------------------------------*/
/**

 * Contenido..................... Esto que lees

 * Variables..................... Configuramos todas las variables del framework

 * Mixins........................ Mixins de SASS

 * Helpers....................... Clases de ayuda

 * Fuentes....................... Fuentes que vamos a importar

 * Links......................... Formas y estilos de los links

 * Tablas........................ Estilos de las tablas

 * Botones....................... Estilos de Botones, skins y variantes

 * Tipografía.................... Encabezados, small, párrafos, listas, etc...

 * Navegación.................... Una navegación, por si quieres usar esta y no la tuya propia

 * Formularios................... Estilos de todos los elementos de formularios y sus variantes

 * Sitio......................... Aquí escribes tus estilos para la web se vea como tú quieres ;)

 * Paginación.................... Estilos básicos para las paginaciones

 * Breakpoints................... Importamos breakpoints basados en las variables @bp$

 */
/*------------------------------------*    $STYLE
\*------------------------------------*/
/**
* Base
**/
/*------------------------------------*    $Our variables
\*------------------------------------*/
/*------------------------------------*    $LAYOUT
\*------------------------------------*/
/*------------------------------------*    $FONT-FACE
\*------------------------------------*/
/*------------------------------------*    $Sizes
\*------------------------------------*/
/*------------------------------------*    $COLORS
\*------------------------------------*/
/**
 * Brand stuff
 */
/*------------------------------------*    $BREAKPOINTS
\*------------------------------------*/
/**
 * "Start with the mobile screen first, then expand until it looks like shit. Time to insert a breakpoint!"
 */
/*------------------------------------*    $grid
\*------------------------------------*/
/*------------------------------------*    $Social Colours
\*------------------------------------*/
/*------------------------------------*    $TEXTURAS
\*------------------------------------*/
/**
 * Definimos Colores y elementos de popups, mensajes de alerta, etc...
 */
/*------------------------------------*    $MIXINS
\*------------------------------------*/
/**
* Centrar y dar un ancho máximo igual a $pagemaxwidth.
*/
/*------------------------------------*    $PLACEHOLDERS
\*------------------------------------*/
/**
  * The ghost, nudged to maintain perfect centering
  */
/**
  * Escondemos el texto solo VISUALMENTE
  */
/**
  * Escondemos el texto de VISUALMENTE y SCREENREADERS
  */
/**
  * Escondemos pero mantenemos layout.
  */
/**
  * Visualmente escondido, pero se puede detectar con teclado (focus).
  */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  position: static;
  clip: auto;
  height: auto;
  width: auto;
  margin: 0;
  overflow: visible;
}

/**
  * Clear floats.
  * http://bit.ly/1e3YaBH
  */
.head:after, .grid:after {
  content: "";
  display: table;
  clear: both;
}

/*------------------------------------*    $SITE
\*------------------------------------*/
.loader--background {
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 100000;
}

.loader--background .loader--content {
  width: 300px;
  height: 300px;
  overflow: auto;
  margin: auto;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.loader--background .loader--content img {
  width: 50px;
  height: 50px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.loader--background .loader--content .loader--text {
  height: 25px;
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
  margin: auto;
  padding-top: 50px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

@font-face {
  font-family: "site-name";
  src: url("fonts/site-name.eot");
  src: url("fonts/site-name.eot?#iefix") format("embedded-opentype"), url("fonts/site-name.woff") format("woff"), url("fonts/site-name.ttf") format("truetype"), url("fonts/site-name.svg#site-name") format("svg");
  font-weight: normal;
  font-style: normal;
}

nav ul {
  list-style: none;
  padding: 0;
}

.hamburger {
  display: none;
}

@media screen and (max-width: 767px) {
  .hamburger {
    width: 36px;
    height: 25px;
    position: relative;
    display: block;
    margin: 9px 0 0 15px;
  }
}

.hamburger [class^="line-"] {
  display: block;
  background: #B3252A;
  width: 36px;
  height: 4px;
  position: absolute;
  left: 0;
  border-radius: 2px;
  -webkit-transition: all 300ms, opacity 100ms;
  transition: all 300ms, opacity 100ms;
  outline: 1px solid transparent;
}

.hamburger [class^="line-"].line-1 {
  top: 0;
}

.hamburger [class^="line-"].line-2 {
  top: 10.5px;
}

.hamburger [class^="line-"].line-3 {
  bottom: 0;
}

.hamburger.is-active .line-1 {
  -webkit-transform: translateY(10.5px) translateX(0) rotate(45deg);
      -ms-transform: translateY(10.5px) translateX(0) rotate(45deg);
          transform: translateY(10.5px) translateX(0) rotate(45deg);
}

.hamburger.is-active .line-2 {
  opacity: 0;
}

.hamburger.is-active .line-3 {
  -webkit-transform: translateY(-10.5px) translateX(0) rotate(-45deg);
      -ms-transform: translateY(-10.5px) translateX(0) rotate(-45deg);
          transform: translateY(-10.5px) translateX(0) rotate(-45deg);
}

.is-noscroll {
  height: 100%;
  overflow: hidden;
}

.is-noscroll .top {
  pointer-events: auto;
}

.head .centering {
  padding: 13px 20px 0;
}

@media screen and (min-width: 767px) and (max-width: 1480px) {
  .head .centering {
    padding: 13px 0 0;
  }
}

@media screen and (max-width: 767px) {
  .head .centering {
    padding: 13px 15% 0;
  }
}

@media screen and (max-width: 375px) {
  .head .centering {
    padding: 13px 20px 0;
  }
}

.head .hamburger {
  z-index: 1000;
}

.head .logo {
  width: 255px;
  z-index: 2;
  position: relative;
}

@media screen and (min-width: 1480px) {
  .head .logo {
    position: absolute;
  }
}

@media screen and (max-width: 1479px) {
  .head .logo {
    width: 235px;
    margin: 0 auto;
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .head .logo {
    display: inline;
    width: 235px;
  }
}

@media screen and (max-width: 767px) {
  .head .logo {
    display: inline;
    width: 200px;
  }
}

@media screen and (max-width: 375px) {
  .head .logo {
    width: 192px;
  }
}

.head .main-nav {
  float: right;
}

@media screen and (max-width: 1479px) {
  .head .main-nav {
    max-width: 1200px;
    margin: 0 auto;
    float: none;
  }
}

@media screen and (min-width: 767px) and (max-width: 1480px) {
  .head .main-nav {
    padding: 0 50px;
    position: initial;
  }
}

@media screen and (max-width: 767px) {
  .head .main-nav {
    float: right;
  }
}

.head .main-nav.is-active .menu {
  min-height: auto;
}

.head .menu {
  list-style: none;
  margin: 18px 0 0 20px;
}

@media screen and (min-width: 767px) and (max-width: 1480px) {
  .head .menu {
    margin: 18px 0 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.head .menu > .menu-item {
  margin: 1px 0 0 31px;
  float: left;
  text-transform: capitalize;
  text-align: left;
}

@media screen and (min-width: 767px) and (max-width: 1480px) {
  .head .menu > .menu-item {
    margin: 0;
  }
}

.head .menu > .menu-item:first-child {
  margin-left: 0;
}

.head .menu > .menu-item a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  color: #B3252A;
}

.head .menu > .menu-item a:hover {
  color: #185488;
}

@media screen and (min-width: 767px) and (max-width: 1480px) {
  .head .menu > .menu-item a {
    font-size: 14px;
  }
}

.head .menu > .menu-item.menu-item-has-children {
  position: relative;
  /*display: block& > a:after {
              @include font-icon;
              font-size: 12px;
              content: '\61';
              display: inline-block;
              vertical-align: middle;
              padding-left: 5px;
              @include until ( $tablet ) {
                position: absolute;
                padding-top: 7px;
              }
              }*/
}

.head .menu > .menu-item.menu-item-has-children a {
  display: inline-block;
  vertical-align: middle;
  padding-bottom: 29px;
}

@media screen and (max-width: 767px) {
  .head .menu > .menu-item.menu-item-has-children a {
    padding-bottom: 0px;
  }
}

@media screen and (min-width: 768px) {
  .head .menu > .menu-item.menu-item-has-children a:hover ~ .sub-menu, .head .menu > .menu-item.menu-item-has-children .sub-menu:hover {
    max-height: 700px;
    -webkit-transition: max-height 1000ms ease;
    transition: max-height 1000ms ease;
  }
}

.head .menu > .menu-item.menu-item-has-children .sub-menu {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  white-space: nowrap;
  min-width: 100%;
  background-color: white;
  padding: 0;
  height: auto;
  max-height: 0;
  overflow: hidden;
  z-index: 2;
}

@media screen and (max-width: 767px) {
  .head .menu > .menu-item.menu-item-has-children .sub-menu {
    position: static;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    display: none;
    max-height: none;
    text-align: center;
    background-color: #F7F7F7;
  }
}

.head .menu > .menu-item.menu-item-has-children .sub-menu .menu-item a {
  display: block;
  padding: 10px;
}

.head .menu > .menu-item.current-menu-item a,
.head .menu > .menu-item a:hover {
  color: #185488;
}

@media screen and (max-width: 767px) {
  .head {
    height: 67px;
    z-index: 1000;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 0;
    -webkit-transition: height 350ms cubic-bezier(0.45, 0.05, 0.55, 0.95);
    transition: height 350ms cubic-bezier(0.45, 0.05, 0.55, 0.95);
  }
  .head .menu {
    text-align: center;
    margin: 0;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 107px;
    background: white;
  }
  .head .menu > .menu-item {
    float: none;
    margin: 18px 0;
    text-align: center;
    /*             &:first-child {
                margin-top: 60px;
            } */
  }
  .head .menu > .menu-item a {
    font-size: 18px;
  }
  .head.is-active {
    min-height: 100%;
    background: white;
  }
}

h1, h2, h3, h4, h5, h6 {
  color: #B3252A;
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  line-height: 1.3;
  padding: 0;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: inherit;
}

h1, .h1 {
  font-size: 55px;
  margin: 0;
}

@media screen and (max-width: 767px) {
  h1, .h1 {
    font-size: 38px;
  }
}

h2, .h2 {
  font-size: 52px;
  line-height: 1.2;
  margin: 0 0 20px 0;
}

@media screen and (max-width: 767px) {
  h2, .h2 {
    font-size: 32px;
  }
}

h3, .h3 {
  font-size: 35px;
  margin: 0 0 20px 0;
  line-height: 1.2;
}

@media screen and (max-width: 767px) {
  h3, .h3 {
    font-size: 32px;
  }
}

h4, .h4 {
  font-size: 24px;
  margin: 0 0 5px 0;
}

@media screen and (max-width: 767px) {
  h4, .h4 {
    font-size: 20px;
  }
}

h5, .h5 {
  font-size: 22px;
  margin: 0 0 5px 0;
}

@media screen and (max-width: 767px) {
  h5, .h5 {
    font-size: 18px;
  }
}

h6, .h6 {
  font-size: 16px;
  margin: 0 0 5px 0;
}

a {
  color: #4d555b;
}

p {
  margin: 0 0 1em;
}

/*------------------------------------*    $BOTONES
\*------------------------------------*/
/*
 * Definimos los botones y sus variantes
 */
/**
 * .btn es la clase principal para definir un botón
 */
input[type="submit"],
input[type="button"],
input[type="reset"],
.btn {
  display: inline-block;
  line-height: 2.25;
  color: #838383;
  text-align: center;
  vertical-align: middle;
  font-size: fs(normal);
  white-space: nowrap;
  background-color: #B3252A;
  border: none;
  font-weight: bold;
  cursor: pointer;
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 1em;
  padding-left: 1em;
  border-radius: 3px;
  /**
 	* Nadie quiere un botón con texto subrayado cuando
 	* hacemos hover.
 	*/
}

input[type="submit"]:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
.btn:hover {
  text-decoration: none;
}

input[type="submit"]:active, input[type="submit"]:focus,
input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:active,
input[type="reset"]:focus,
.btn:active,
.btn:focus {
  outline: none;
}

input[type="submit"]:visited,
input[type="button"]:visited,
input[type="reset"]:visited,
.btn:visited {
  color: #838383;
}

/*------------------------------------*    $BOTONES-VARIANTES
\*------------------------------------*/
/**
 * Variantes de los botones: color para dar sensaciones.
 *
 */
/**
* Inputs con estilo de botones
*/
input[type="submit"].btn:hover {
  border-color: currentcolor;
}

/**
* Botón no disponible
*/
.btn--disabled {
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
  cursor: default;
}

/**
* Botón de Error
*/
.btn--error {
  background-color: #da4f49;
  color: #48110f;
}

.btn--error:hover {
  color: #fcf3f3;
}

.btn--error:visited {
  color: #48110f;
}

/**
* Botón de Info
*/
.btn--info {
  background-color: #42b8dd;
  color: #0d3946;
}

.btn--info:hover {
  color: #eff9fc;
}

.btn--info:visited {
  color: #0d3946;
}

/**
* Botón principal
*/
.btn--primary {
  background-color: #185488;
  color: white;
}

.btn--primary:hover {
  color: #83bae9;
}

.btn--primary:visited {
  color: black;
}

/**
* Botón de OK
*/
.btn--success {
  background-color: #5bb75b;
  color: #153115;
}

.btn--success:hover {
  color: #e9f5e9;
}

.btn--success:visited {
  color: #153115;
}

/**
* Botón de advertencia
*/
.btn--warning {
  background-color: #e78730;
  color: #432408;
}

.btn--warning:hover {
  color: #fcf1e7;
}

.btn--warning:visited {
  color: #432408;
}

.btn--inactive,
.btn--inactive:hover,
.btn--inactive:active,
.btn--inactive:focus {
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
  cursor: default;
}

/*------------------------------------*    $BOTONES-TAMAÑOS
\*------------------------------------*/
/**
 * Variantes de los botones por tamaño.
 *
 */
.btn--mini {
  padding-right: 0.5em;
  padding-left: 0.5em;
  line-height: 1.5;
}

.btn--small {
  padding-right: 1.5em;
  padding-left: 1.5em;
  line-height: 2;
}

.btn--large {
  padding-right: 3em;
  padding-left: 3em;
  line-height: 3;
}

/*------------------------------------*    $BOTONES-GRUPOS
\*------------------------------------*/
/**
 * Con esta clase podemos agrupar los botones
 * en grupos horizontales.
 *
 */
.btn--group {
  position: relative;
  *margin-left: .3em;
}

.btn--group .btn {
  position: relative;
  border-radius: 0;
  float: left;
  margin-left: -1px;
}

.btn--group .btn:first-child {
  margin-left: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  background-clip: padding-box;
}

.btn--group .btn:last-child {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  background-clip: padding-box;
}

.btn--group .btn.large:first-child {
  margin-left: 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 0;
  background-clip: padding-box;
}

.btn--group .btn.large:last-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 3px;
  background-clip: padding-box;
}

[class*="icon-"]:before {
  line-height: 1;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "find-digs";
}

[class^="icon-social"][href*="google"]:before, [class^="icon-social"].icon-google:before {
  content: "g";
}

[class^="icon-social"][href*="facebook"]:before, [class^="icon-social"].icon-facebook:before {
  content: "f";
}

[class^="icon-social"][href*="instagram"]:before, [class^="icon-social"].icon-instagram:before {
  content: "i";
}

[class^="icon-social"][href*="linkedin"]:before, [class^="icon-social"].icon-linkedin:before {
  content: "l";
}

[class^="icon-social"][href*="pinterest"]:before, [class^="icon-social"].icon-pinterest:before {
  content: "p";
}

[class^="icon-social"][href*="twitter"]:before, [class^="icon-social"].icon-twitter:before {
  content: "t";
}

[class^="icon-social"][href*="youtube"]:before, [class^="icon-social"].icon-youtube:before {
  content: "y";
}

/*------------------------------------*    $grid
\*------------------------------------*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.grid {
  position: relative;
  margin-left: -20px;
  margin-right: -20px;
}

.grid [class^='grid-'],
.grid [class*=' grid-'] {
  display: inline;
  float: left;
  padding: 20px;
}

.fgrid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.grid-xs-1 {
  width: 8.33333%;
}

.offset-xs-1 {
  margin-left: 8.33333%;
}

.grid-xs-2 {
  width: 16.66667%;
}

.offset-xs-2 {
  margin-left: 16.66667%;
}

.grid-xs-3 {
  width: 25%;
}

.offset-xs-3 {
  margin-left: 25%;
}

.grid-xs-4 {
  width: 33.33333%;
}

.offset-xs-4 {
  margin-left: 33.33333%;
}

.grid-xs-5 {
  width: 41.66667%;
}

.offset-xs-5 {
  margin-left: 41.66667%;
}

.grid-xs-6 {
  width: 50%;
}

.offset-xs-6 {
  margin-left: 50%;
}

.grid-xs-7 {
  width: 58.33333%;
}

.offset-xs-7 {
  margin-left: 58.33333%;
}

.grid-xs-8 {
  width: 66.66667%;
}

.offset-xs-8 {
  margin-left: 66.66667%;
}

.grid-xs-9 {
  width: 75%;
}

.offset-xs-9 {
  margin-left: 75%;
}

.grid-xs-10 {
  width: 83.33333%;
}

.offset-xs-10 {
  margin-left: 83.33333%;
}

.grid-xs-11 {
  width: 91.66667%;
}

.offset-xs-11 {
  margin-left: 91.66667%;
}

.grid-xs-12 {
  width: 100%;
}

.offset-xs-12 {
  margin-left: 100%;
}

@media screen and (min-width: 768px) {
  .grid-s-1 {
    width: 8.33333%;
  }
  .offset-s-1 {
    margin-left: 8.33333%;
  }
  .grid-s-2 {
    width: 16.66667%;
  }
  .offset-s-2 {
    margin-left: 16.66667%;
  }
  .grid-s-3 {
    width: 25%;
  }
  .offset-s-3 {
    margin-left: 25%;
  }
  .grid-s-4 {
    width: 33.33333%;
  }
  .offset-s-4 {
    margin-left: 33.33333%;
  }
  .grid-s-5 {
    width: 41.66667%;
  }
  .offset-s-5 {
    margin-left: 41.66667%;
  }
  .grid-s-6 {
    width: 50%;
  }
  .offset-s-6 {
    margin-left: 50%;
  }
  .grid-s-7 {
    width: 58.33333%;
  }
  .offset-s-7 {
    margin-left: 58.33333%;
  }
  .grid-s-8 {
    width: 66.66667%;
  }
  .offset-s-8 {
    margin-left: 66.66667%;
  }
  .grid-s-9 {
    width: 75%;
  }
  .offset-s-9 {
    margin-left: 75%;
  }
  .grid-s-10 {
    width: 83.33333%;
  }
  .offset-s-10 {
    margin-left: 83.33333%;
  }
  .grid-s-11 {
    width: 91.66667%;
  }
  .offset-s-11 {
    margin-left: 91.66667%;
  }
  .grid-s-12 {
    width: 100%;
  }
  .offset-s-12 {
    margin-left: 100%;
  }
}

@media screen and (min-width: 1280px) {
  .grid-md-1 {
    width: 8.33333%;
  }
  .offset-md-1 {
    margin-left: 8.33333%;
  }
  .grid-md-2 {
    width: 16.66667%;
  }
  .offset-md-2 {
    margin-left: 16.66667%;
  }
  .grid-md-3 {
    width: 25%;
  }
  .offset-md-3 {
    margin-left: 25%;
  }
  .grid-md-4 {
    width: 33.33333%;
  }
  .offset-md-4 {
    margin-left: 33.33333%;
  }
  .grid-md-5 {
    width: 41.66667%;
  }
  .offset-md-5 {
    margin-left: 41.66667%;
  }
  .grid-md-6 {
    width: 50%;
  }
  .offset-md-6 {
    margin-left: 50%;
  }
  .grid-md-7 {
    width: 58.33333%;
  }
  .offset-md-7 {
    margin-left: 58.33333%;
  }
  .grid-md-8 {
    width: 66.66667%;
  }
  .offset-md-8 {
    margin-left: 66.66667%;
  }
  .grid-md-9 {
    width: 75%;
  }
  .offset-md-9 {
    margin-left: 75%;
  }
  .grid-md-10 {
    width: 83.33333%;
  }
  .offset-md-10 {
    margin-left: 83.33333%;
  }
  .grid-md-11 {
    width: 91.66667%;
  }
  .offset-md-11 {
    margin-left: 91.66667%;
  }
  .grid-md-12 {
    width: 100%;
  }
  .offset-md-12 {
    margin-left: 100%;
  }
}

@media screen and (min-width: 1480px) {
  .grid-1 {
    width: 8.33333%;
  }
  .offset-1 {
    margin-left: 8.33333%;
  }
  .grid-2 {
    width: 16.66667%;
  }
  .offset-2 {
    margin-left: 16.66667%;
  }
  .grid-3 {
    width: 25%;
  }
  .offset-3 {
    margin-left: 25%;
  }
  .grid-4 {
    width: 33.33333%;
  }
  .offset-4 {
    margin-left: 33.33333%;
  }
  .grid-5 {
    width: 41.66667%;
  }
  .offset-5 {
    margin-left: 41.66667%;
  }
  .grid-6 {
    width: 50%;
  }
  .offset-6 {
    margin-left: 50%;
  }
  .grid-7 {
    width: 58.33333%;
  }
  .offset-7 {
    margin-left: 58.33333%;
  }
  .grid-8 {
    width: 66.66667%;
  }
  .offset-8 {
    margin-left: 66.66667%;
  }
  .grid-9 {
    width: 75%;
  }
  .offset-9 {
    margin-left: 75%;
  }
  .grid-10 {
    width: 83.33333%;
  }
  .offset-10 {
    margin-left: 83.33333%;
  }
  .grid-11 {
    width: 91.66667%;
  }
  .offset-11 {
    margin-left: 91.66667%;
  }
  .grid-12 {
    width: 100%;
  }
  .offset-12 {
    margin-left: 100%;
  }
}

/*! normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
/* Document
   ========================================================================== */
html {
  font-family: sans-serif;
  /* 1 */
  line-height: 1.15;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0;
}

/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */
template {
  display: none;
}

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}

/*! Flickity v2.0.5
http://flickity.metafizzy.co
---------------------------------------------- */
.flickity-enabled {
  position: relative;
}

.flickity-enabled:focus {
  outline: none;
}

.flickity-viewport {
  overflow: hidden;
  position: relative;
  height: 100%;
}

.flickity-slider {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* draggable */
.flickity-enabled.is-draggable {
  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.flickity-enabled.is-draggable .flickity-viewport {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab;
}

.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

/* ---- previous/next buttons ---- */
.flickity-prev-next-button {
  position: absolute;
  top: 50%;
  width: 44px;
  height: 44px;
  border: none;
  border-radius: 50%;
  background: white;
  background: rgba(255, 255, 255, 0.75);
  cursor: pointer;
  /* vertically center */
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
      transform: translateY(-50%);
}

.flickity-prev-next-button:hover {
  background: white;
}

.flickity-prev-next-button:focus {
  outline: none;
  -webkit-box-shadow: 0 0 0 5px #09F;
          box-shadow: 0 0 0 5px #09F;
}

.flickity-prev-next-button:active {
  opacity: 0.6;
}

.flickity-prev-next-button.previous {
  left: 10px;
}

.flickity-prev-next-button.next {
  right: 10px;
}

/* right to left */
.flickity-rtl .flickity-prev-next-button.previous {
  left: auto;
  right: 10px;
}

.flickity-rtl .flickity-prev-next-button.next {
  right: auto;
  left: 10px;
}

.flickity-prev-next-button:disabled {
  opacity: 0.3;
  cursor: auto;
}

.flickity-prev-next-button svg {
  position: absolute;
  left: 20%;
  top: 20%;
  width: 60%;
  height: 60%;
}

.flickity-prev-next-button .arrow {
  fill: #333;
}

/* ---- page dots ---- */
.flickity-page-dots {
  position: absolute;
  width: 100%;
  bottom: -25px;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  line-height: 1;
}

.flickity-rtl .flickity-page-dots {
  direction: rtl;
}

.flickity-page-dots .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 8px;
  background: #333;
  border-radius: 50%;
  opacity: 0.25;
  cursor: pointer;
}

.flickity-page-dots .dot.is-selected {
  opacity: 1;
}

html {
  background: white;
  font-size: 100%;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: transparent;
}

body {
  font: 10.66667px "Raleway", sans-serif;
  color: #838383;
}

@media screen and (max-width: 375px) {
  body {
    font: 9.33333px "Raleway", sans-serif;
  }
}

body, html {
  min-height: 100vh;
  overflow: hidden;
}

body, input, textarea, select, button {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-moz-selection {
  background: #B3D4FC;
}

::selection {
  background: #B3D4FC;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.centering {
  margin: auto;
  max-width: 1510px;
  width: 100%;
}

html::before{
  display: block;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  font-size: .9em;
  padding: 1.5em 1em 1.5em 4.5em;
  color: white;
  background-color: #DF4F5E;
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2248px%22%20height%3D%2248px%22%20viewBox%3D%220%200%20512%20512%22%20enable-background%3D%22new%200%200%20512%20512%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpath%20fill%3D%22%23A82734%22%20id%3D%22warning-4-icon%22%20d%3D%22M228.55%2C134.812h54.9v166.5h-54.9V134.812z%20M256%2C385.188c-16.362%2C0-29.626-13.264-29.626-29.625c0-16.362%2C13.264-29.627%2C29.626-29.627c16.361%2C0%2C29.625%2C13.265%2C29.625%2C29.627C285.625%2C371.924%2C272.361%2C385.188%2C256%2C385.188z%20M256%2C90c91.742%2C0%2C166%2C74.245%2C166%2C166c0%2C91.741-74.245%2C166-166%2C166c-91.742%2C0-166-74.245-166-166C90%2C164.259%2C164.245%2C90%2C256%2C90z%20M256%2C50C142.229%2C50%2C50%2C142.229%2C50%2C256s92.229%2C206%2C206%2C206s206-92.229%2C206-206S369.771%2C50%2C256%2C50z%22%2F%3E%3C%2Fsvg%3E") .5em no-repeat, #DF4F5E linear-gradient(#DF4F5E, #CE3741);
  border: 1px solid #C64F4B;
  border-radius: 3px;
  box-shadow: inset 0 1px 0 #EB8A93, 0 0 .3em rgba(0,0,0, .5);
  white-space: pre-wrap;
  font-family: Menlo, Monaco, monospace;
  text-shadow: 0 1px #A82734;
  content: "sites/site.com/app/_assets/scss/main.css\00000a330:5	Unexpected duplicate \"display\" (declaration-block-no-duplicate-properties) [stylelint]\00000a330:5	Unexpected duplicate \"display\" (declaration-block-no-duplicate-properties) [stylelint]\00000a869:3	Unexpected duplicate \"display\" (declaration-block-no-duplicate-properties) [stylelint]\00000a869:3	Unexpected duplicate \"display\" (declaration-block-no-duplicate-properties) [stylelint]\00000a1320:3	Unexpected duplicate \"text-decoration\" (declaration-block-no-duplicate-properties) [stylelint]\00000a1678:3	Unexpected duplicate \"cursor\" (declaration-block-no-duplicate-properties) [stylelint]\00000a1679:3	Unexpected duplicate \"cursor\" (declaration-block-no-duplicate-properties) [stylelint]\00000a1684:3	Unexpected duplicate \"cursor\" (declaration-block-no-duplicate-properties) [stylelint]\00000a1696:3	Unexpected duplicate \"background\" (declaration-block-no-duplicate-properties) [stylelint]";
}

/*# sourceMappingURL=main.css.map */
