extends ../layout.pug
  
block content
  .container
    .entry-text.mb-5
      h1 Propiedades en venta.
      p Casa y apartamento situados en Bogotá.
      p Llamanos al +57 302 424 72 15 para más información.
    .property-wraper
      ul.properties.row
        li.col-12.col-sm-6.property__li
          .property.is-property--overlayed
            span.property__ribon
              | Casa 
              br
              |  en venta
            figure.property__thumb
              img(src=require('../../assets/images/house/house-6.jpg'), alt='')
              .property--overlay
                span.property__intro
                  | La casa, tiene 36 m2 de base, 4 habitaciones 3 king y una normal, dos baños, salon comedor, cocina y patio y tiene 105 m2 construidos...
                span.property__params 105 m2 construidos
                span.property__params 36 m2 de base
            .property__info
              .property__t
                p Villa Cristina, Bogotá, Colombia.
              .property__offer
                .property__price
                  .property__label
                    | Precio Negociable
                  .property__value
                    | $240Millones
                a.property__btn.btn.btn-primary(data-toggle='modal', data-target='#houseModal') Ver detalles
  
