footer
  .container
    .bottom_footer
      p
        | Copyright 
        script.
          document.write(new Date().getFullYear() + ' ')
        | Designed By 
        b
          a(href='http://www.esquemacreativo.com', target='_blank') Ecreative
// Modal House
#houseModal.modal.fade.property-modal(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
  .modal-dialog.modal-lg(role='document')
    .modal-content
      .modal-body
        .property-slider
          .banner_wrapper.custom_slide(style="background-image: url("+require('../../assets/images/house/house-1.jpg')+");")
          .banner_wrapper.custom_slide(style="background-image: url("+require('../../assets/images/house/house-2.jpg')+");")
          .banner_wrapper.custom_slide(style="background-image: url("+require('../../assets/images/house/house-3.jpg')+");")
          .banner_wrapper.custom_slide(style="background-image: url("+require('../../assets/images/house/house-4.jpg')+");")
          .banner_wrapper.custom_slide(style="background-image: url("+require('../../assets/images/house/house-5.jpg')+");")
          .banner_wrapper.custom_slide(style="background-image: url("+require('../../assets/images/house/house-6.jpg')+");")
          .banner_wrapper.custom_slide(style="background-image: url("+require('../../assets/images/house/house-7.jpg')+");")
          .banner_wrapper.custom_slide(style="background-image: url("+require('../../assets/images/house/house-8.jpg')+");")
          .banner_wrapper.custom_slide(style="background-image: url("+require('../../assets/images/house/house-9.jpg')+");")
          .banner_wrapper.custom_slide(style="background-image: url("+require('../../assets/images/house/house-10.jpg')+");")
          .banner_wrapper.custom_slide(style="background-image: url("+require('../../assets/images/house/house-11.jpg')+");")
          .banner_wrapper.custom_slide(style="background-image: url("+require('../../assets/images/house/house-12.jpg')+");")
          .banner_wrapper.custom_slide(style="background-image: url("+require('../../assets/images/house/house-13.jpg')+");")
          .banner_wrapper.custom_slide(style="background-image: url("+require('../../assets/images/house/house-14.jpg')+");")
          .banner_wrapper.custom_slide(style="background-image: url("+require('../../assets/images/house/house-15.jpg')+");")
          .banner_wrapper.custom_slide(style="background-image: url("+require('../../assets/images/house/house-16.jpg')+");")
          .banner_wrapper.custom_slide(style="background-image: url("+require('../../assets/images/house/house-17.jpg')+");")
          .banner_wrapper.custom_slide(style="background-image: url("+require('../../assets/images/house/house-18.jpg')+");")
          .banner_wrapper.custom_slide(style="background-image: url("+require('../../assets/images/house/house-19.jpg')+");")
          .banner_wrapper.custom_slide(style="background-image: url("+require('../../assets/images/house/house-20.jpg')+");")
          .banner_wrapper.custom_slide(style="background-image: url("+require('../../assets/images/house/house-21.jpg')+");")
          .banner_wrapper.custom_slide(style="background-image: url("+require('../../assets/images/house/house-22.jpg')+");")
          .banner_wrapper.custom_slide(style="background-image: url("+require('../../assets/images/house/house-23.jpg')+");")
          .banner_wrapper.custom_slide(style="background-image: url("+require('../../assets/images/house/house-24.jpg')+");")
          .banner_wrapper.custom_slide(style="background-image: url("+require('../../assets/images/house/house-25.jpg')+");")
          .banner_wrapper.custom_slide(style="background-image: url("+require('../../assets/images/house/house-26.jpg')+");")
          .banner_wrapper.custom_slide(style="background-image: url("+require('../../assets/images/house/house-27.jpg')+");")
          .banner_wrapper.custom_slide(style="background-image: url("+require('../../assets/images/house/house-28.jpg')+");")
          .banner_wrapper.custom_slide(style="background-image: url("+require('../../assets/images/house/house-29.jpg')+");")
          .banner_wrapper.custom_slide(style="background-image: url("+require('../../assets/images/house/house-30.jpg')+");")
          .banner_wrapper.custom_slide(style="background-image: url("+require('../../assets/images/house/house-31.jpg')+");")
          .banner_wrapper.custom_slide(style="background-image: url("+require('../../assets/images/house/house-32.jpg')+");")
          .banner_wrapper.custom_slide(style="background-image: url("+require('../../assets/images/house/house-33.jpg')+");")
          .banner_wrapper.custom_slide(style="background-image: url("+require('../../assets/images/house/house-34.jpg')+");")
          .banner_wrapper.custom_slide(style="background-image: url("+require('../../assets/images/house/house-35.jpg')+");")
          .banner_wrapper.custom_slide(style="background-image: url("+require('../../assets/images/house/house-36.jpg')+");")
          .banner_wrapper.custom_slide(style="background-image: url("+require('../../assets/images/house/house-37.jpg')+");")
          .banner_wrapper.custom_slide(style="background-image: url("+require('../../assets/images/house/house-38.jpg')+");")
          .banner_wrapper.custom_slide(style="background-image: url("+require('../../assets/images/house/house-39.jpg')+");")
          .banner_wrapper.custom_slide(style="background-image: url("+require('../../assets/images/house/house-40.jpg')+");")
          .banner_wrapper.custom_slide(style="background-image: url("+require('../../assets/images/house/house-41.jpg')+");")
          .banner_wrapper.custom_slide(style="background-image: url("+require('../../assets/images/house/house-42.jpg')+");")
          .banner_wrapper.custom_slide(style="background-image: url("+require('../../assets/images/house/house-43.jpg')+");")
          .banner_wrapper.custom_slide(style="background-image: url("+require('../../assets/images/house/house-44.jpg')+");")
          .banner_wrapper.custom_slide(style="background-image: url("+require('../../assets/images/house/house-45.jpg')+");")
          .banner_wrapper.custom_slide(style="background-image: url("+require('../../assets/images/house/house-46.jpg')+");")
        .property_post_detail
          ul#myTab.nav.nav-tabs(role='tablist')
            li.nav-item
              a#detalles-tab.nav-link.active(data-toggle='tab', href='#detalles', role='tab', aria-controls='detalles', aria-selected='true') 
                h5 
                  | Detalles
            li.nav-item
              a#comodidades-tab.nav-link(data-toggle='tab', href='#comodidades', role='tab', aria-controls='comodidades', aria-selected='false') 
                h5 
                  | Comodidades
            li.nav-item
              a#location-tab.nav-link(data-toggle='tab', href='#location', role='tab', aria-controls='location', aria-selected='false') 
                h5 
                  | Ubicación
          #myTabContent.tab-content
            #detalles.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='detalles-tab')
              p
                | La casa, tiene 36 m2 de base, 4 habitaciones 3 grandes y una normal, 2 baños, salon comedor, cocina y patio ducha de agua caliente y tiene 105 m2 construidos, suelos en madera en las habitaciones, escalera de cerámica fina, barandilla nueva, 25 millones en reformas recientemente, Primer piso en porcelanato fino, tiene armarios empotrados y tiene un cuarto de checheres bajo de la escalera. Cerca a colegio iglesia y cerca a una zona muy comercial, casa tiene excelente ubicación zona 10 engativa cerca a quirigua bachue y bochica.
            #comodidades.tab-pane.fade(role='tabpanel', aria-labelledby='comodidades-tab')
              .row
                ul.col-sm-4.ameneties
                  li
                    i.flaticon-check33
                    | 4 habitaciones
                  li
                    i.flaticon-check33
                    | 2 baños
                  li
                    i.flaticon-check33
                    | Parada del transmilenio a una cuadra
                ul.col-sm-4.ameneties
                  li
                    i.flaticon-check33
                    | Patio
                  li
                    i.flaticon-check33
                    | Salon comedor
                  li
                    i.flaticon-check33
                    | Suelos en madera y porcelanatos de alta calidad
                ul.col-sm-4.ameneties
                  li
                    i.flaticon-check33
                    | Armarios empotrados Service
                  li
                    i.flaticon-check33
                    | Zona comercial
                  li
                    i.flaticon-check33
                    | Excelente ubicación
            #location.tab-pane.fade(role='tabpanel', aria-labelledby='location-tab')
              #map.mapBox
      .modal-footer
        button.btn.btn-default(type='button', data-dismiss='modal') Cerrar
        button.btn.btn-success(style='display: none;', type='button') Hacer oferta       