// .btn es la clase principal para definir un botón
//
// Base styles
//
input[type='submit'],
input[type='button'],
input[type='reset'],
%btn,
.btn {
    @include button-size($input-btn-padding-y, $input-btn-padding-x, $font-size-btn, $input-btn-line-height, $border-radius);
    @include transition($btn-transition); // Share hover and focus styles
    @include hover-focus {
        text-decoration: none;

        color: white;
    }

    font-family: $headings-font-family;
    font-weight: $btn-font-weight;
    line-height: $input-btn-line-height;

    display: inline-block;

    margin: 0;

    cursor: pointer;
    user-select: none;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    text-transform: uppercase;

    border: $input-btn-border-width solid transparent;
    outline: none;
    background-color: $brand-primary;
    box-shadow: none;
    &.mka-opacity-trans:hover {
        opacity: .8;
    }
    &:focus {
        color: white;
        outline: none;
        outline: 0;
        box-shadow: none !important;        
    } // Disabled comes first so active can properly restyle
    &.disabled,
    &:disabled {
        opacity: .65;
        box-shadow: none;
        :hover {
            cursor: not-allowed;
        }
        pointer-events: none;
    }
    &:active,
    &.active {
        outline: none;
        background-color: lighten($brand-primary, 5%); //@include box-shadow($btn-focus-box-shadow, $btn-active-box-shadow);
        background-image: none;
        box-shadow: none;
    }
}

// Future-proof disabling of clicks on `<a>` elements
a.btn.disabled,
fieldset[disabled] a.btn {
    pointer-events: none;
}

//
// Alternate buttons
//
@each $color,
$value in $theme-colors {
    .btn--#{$color} {
        @include button-variant($value, $value);
    }
}

.btn--white {
    color: $brand-primary;
    box-shadow: none !important;
    &:hover {
        color: $brand-primary;
    }
    &:focus {
        color: $brand-primary;
    }
}

@each $color,
$value in $theme-colors {
    .btn-outline--#{$color} {
        @include button-outline-variant($value, $white);
    }
}

// Remove all backgrounds
.btn-outline--primary {
    @include button-outline-variant($btn-primary-bg);
    &:focus,
    &:hover {
        color: white;
        border-color: $gray-601;
        background-color: $gray-601;
    }
    &.btn--hover-blue {
        &:focus,
        &:hover {
            color: white;
            border-color: $brand-primary;
            background-color: $brand-primary;
        }
    }
}

.btn-outline--secondary {
    @include button-outline-variant($btn-secondary-border);
    &:focus,
    &:hover {
        border-color: $btn-primary-bg;
        background-color: $btn-primary-bg;
    }
}

.btn-outline--white {
    &:hover {
        color: white;
        border-color: $gray-601;
        background-color: $gray-601;
    }
}

.btn-outline--gray {
    @include button-outline-variant($btn-secondary-border);
    &:focus,
    &:hover {
        color: $gray-601;
        border-color: $white;
        background-color: $white;
        box-shadow: none;
    }
}

//
// Button Sizes
//
.btn--lg {
    @include button-size($input-btn-padding-y-lg, $input-btn-padding-x-lg, $font-size-lg, $line-height-lg, $border-radius);

    box-shadow: none;
}

.btn--sm {
    @include button-size($input-btn-padding-y-sm, $input-btn-padding-x-sm, $font-size-sm, $line-height-sm, $btn-border-radius-sm);

    box-shadow: none;
}

.cursor-default {
    cursor: default;
}
.close {
    font-size: 2.5rem;
}
//
// Block button
//
.btn-block {
    display: block;

    width: 100%;
}