// $GRID

.fgrid,
%fgrid {
    margin-left: ($grid-gutter-width / -2);
    margin-right: ($grid-gutter-width / -2);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    [class^='grid-'],
    [class*=' grid-'] {
        padding-left: ($grid-gutter-width / 2);
        padding-right: ($grid-gutter-width / 2);
    }
}

.fgrid-inverse {
    @extend %fgrid;
    flex-direction: row-reverse;
    justify-content: space-between;
    flex-wrap: wrap;
    [class^='fgrid-'],
    [class*='fgrid-'] {
        padding: ($grid-gutter-width / 2);
    }
}

@for $i from 1 through $grid-columns {
    .grid-xs-#{$i} {
        width: ($i * (100 / $grid-columns)) * 1%;
    }

    .offset-xs-#{$i} {
        margin-left: ($i * (100 / $grid-columns)) * 1%;
    }
}

@include at-least($mobile) {
    @for $i from 1 through $grid-columns {
        .grid-s-#{$i} {
            width: ($i * (100 / $grid-columns)) * 1%;
        }

        .offset-s-#{$i} {
            margin-left: ($i * (100 / $grid-columns)) * 1%;
        }
    }
}

@include at-least($tablet) {
    @for $i from 1 through $grid-columns {
        .grid-md-#{$i} {
            width: ($i * (100 / $grid-columns)) * 1%;
        }

        .offset-md-#{$i} {
            margin-left: ($i * (100 / $grid-columns)) * 1%;
        }
    }
}

@include at-least($laptop) {
    @for $i from 1 through $grid-columns {
        .grid-lg-#{$i} {
            width: ($i * (100 / $grid-columns)) * 1%;
        }

        .offset-lg-#{$i} {
            margin-left: ($i * (100 / $grid-columns)) * 1%;
        }
    }
}

@include at-least($small-desktop) {
    @for $i from 1 through $grid-columns {
        .grid-#{$i} {
            width: ($i * (100 / $grid-columns)) * 1%;
        }

        .offset-#{$i} {
            margin-left: ($i * (100 / $grid-columns)) * 1%;
        }
    }
}