// $ICONS
[class*='icon-'] {
    font-size: inherit;
    font-variant: normal;
    line-height: 1;

    display: inline-block;

    transform: translate(0, 0);
    text-transform: none;

    text-rendering: auto;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    &::after {
        @include font-icon;
    }
    &::before {
        @include font-icon;
    }
}

[class^='icon-social'] {
    &[href*='google']:before,
    &.icon-google:before {
        content: 'g';
    }
    &[href*='facebook']:before,
    &.icon-facebook:before {
        content: 'f';
    }
    &[href*='instagram']:before,
    &.icon-instagram:before {
        content: 'i';
    }
    &[href*='linkedin']:before,
    &.icon-linkedin:before {
        content: 'l';
    }
    &[href*='pinterest']:before,
    &.icon-pinterest:before {
        content: 'p';
    }
    &[href*='twitter']:before,
    &.icon-twitter:before {
        content: 't';
    }
    &[href*='youtube']:before,
    &.icon-youtube:before {
        content: 'y';
    }
}

.icon-angle-up:before {
    content: '\61';
}

.icon-isotipo:before {
    content: '\63';
}