// $MIXINS
@mixin at-least( $device-width) {
    @media screen and ( min-width: $device-width) {
        @content
    }
}

@mixin until( $device-width) {
    @media screen and ( max-width: $device-width - 1) {
        @content
    }
}

@mixin between( $device-minwidth, $device-maxwidth) {
    @media screen and ( min-width: $device-minwidth) and ( max-width: $device-maxwidth - 1) {
        @content
    }
}

@mixin font-icon {
    font-family: $icon-family-base;
    font-weight: normal !important;
    font-style: normal !important;
    font-variant: normal !important;
    line-height: 1;

    text-transform: none !important;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}



/**
* Centrar y dar un ancho máximo igual a $pagemaxwidth.
*/

@mixin max-width($max-width: $pagemaxwidth) {
    width: 100%;
    max-width: $max-width;
    margin-right: auto;
    margin-left: auto;
}

// .opacity(VALUE);
@mixin opacity($opacity: .5) {
    opacity: $opacity;

    -webkit-opacity: $opacity;
    -moz-opacity: $opacity;
}